.card.dark,
.card.light {
  border: none !important;
  border-radius: 0.5rem;
  transition: all 0.25s linear;
  background: transparent;
}
.card.light {
  background: #fff;
}
.card.dark .card-body {
  background: #2b3945;
}
.card .card-img-top {
  border-radius: 0.5rem 0.5rem 0 0 !important;
  height: 50%;
  object-fit: cover;
}
.card.light .card-body .card-title {
  color: #282c34;
}
.card .card-body .card-title {
  font-weight: 700;
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

ul {
  list-style-type: none;
  margin-bottom: 0.5rem !important;
}
.card.light ul li span {
  color: #282c34;
}
ul li {
  font-size: 1rem;
  color: #bfbfbf;
}
ul li span {
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
}
.card .card-body {
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.card .card-body a .page-details {
  background: #212529;
  border-color: #212529;
  color: rgb(255, 255, 255);
  padding: 0.35rem 0.75rem;
}

.card .card-body a .page-details:hover {
  background: #ccc;
  border-color: #ccc;
  color: #212529;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
