header {
    height: 90px; 
}
header > .container-fluid {
    height: 100%; max-width: 90%;
    display: flex; justify-content: space-between; align-items: center;
}
header > .container-fluid h2 {
    font-weight: 700; font-size: 2.2rem;
    margin: 0;
}
header.light button, header.dark button {
    display: flex; justify-content: center; align-items: center;
    width: 36px; height: 36px; 
    padding: .5rem; border-radius: 50%;
    border: none !important; color: #212529 !important;
    transition: .35s ease; 
}
header.light button:hover, header.dark button:hover {
    border-radius: 50%;
    background-color: #E2E2E2 !important;
    color: #212529 !important;
}
header button:focus {
    box-shadow: none !important;
    outline: none !important; 
}
header.light {
    background: rgb(255, 255, 255);
    transition: all 0.25s linear;
}
header.dark {
    background: #2b3945; color: white;
    transition: all 0.25s linear;
}

/* Small devices */
@media (max-width: 575.98px) { 
    header > .container-fluid h2 {
        font-size: 1.4rem;
    }
 }